Repository CodersCrew/coders-card, pull requests merged in 2020-10, with the labels that each got.

#93 Review information structure and mark some fields as optional
  content/about-me/index-1.md
  content/blog/index-1.md
  content/developer-profile/index-1.md
  gatsby-node.js
  src/components/DetailsCard/DetailsCard.tsx
  src/containers/DeveloperProfile.tsx
  src/pages/blog/index.tsx
  src/pages/index.tsx
  src/pages/portfolio/index.tsx
  src/utils/canUseWindow.ts
  src/views/about/types.ts
  src/views/blog-page/types.ts
  src/views/contact-page/data.ts
  src/views/portfolio-page/types.ts
  static/admin/config.yml
Labels: config

#101 DetailsCard component is missing in the about page on tablet and mobile
  src/pages/contact/index.tsx
  src/pages/index.tsx
Labels: bug

#97 Add missing fields to information structure
  static/admin/config.yml
Labels: bug, config

#100 Hide social media in developer profile if they are not present
  content/developer-profile/index-1.md
  src/components/DetailsCard/CardDesktop.tsx
Labels: bug

#108 Added BlogPage fields validation
  static/admin/config.yml
Labels: config, feature

#102 Hide BlogPage in Navbar when it's empty
  src/components/Navbar/DesktopNavbar.tsx
  src/components/Navbar/MobileNavbar.tsx
  src/components/Navbar/Navbar.tsx
  src/components/Navbar/TabletNavbar.tsx
  src/components/Navbar/renderNavItems.tsx
  src/hooks/useBlogPageDoesNotExist.ts
Labels: feature
